html,
body,
root {
  height: 100%;
  background-color: #0a0a0a;
}

.full-height {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: auto;
  max-width: 98%;
  pointer-events: none;
  margin: 0 2vh;
}

.card {
  margin: 1vh;
  padding: 1vh;
  max-width: 95%;
  font-family: "Times New Roman", Times, serif;
}

@media only screen and (min-width: 750px) {
  .App-logo {
    max-width: 85%;
  }

  .card {
    margin: 2vh;
    padding: 2vh;
    max-width: 85%;
  }
}

@media only screen and (min-width: 1000px) {
  .App-logo {
    max-width: 70%;
  }

  .card {
    margin: 3vh;
    padding: 3vh;
    max-width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .App-logo {
    max-width: 50%;
  }

  .card {
    margin: 5vh;
    padding: 5vh;
    max-width: 50%;
  }
}


.App-header {
  background-color: #0a0a0a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* CSS */
.button-20 {
  margin-top: 2vh;
  appearance: button;
  background-color: #c70000;
  background-image: linear-gradient(180deg, rgba(184, 125, 125, 0.15), rgba(255, 255, 255, 0));
  border: 1px solid #c70000;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .20s ease-in-out, background-color .20s ease-in-out, border-color .20s ease-in-out, box-shadow .20s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
  outline: 0;
}

.button-20:hover {
  background-color: #a30c0c;
  border-color: #a30c0c;
}

.button-20:focus {
  background-color: #c40c0c;
  border-color: #c40c0c;
}

.button-20:active {
  background-color: #a30c0c;
  background-image: none;
  border-color: #a30c0c;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(255, 255, 255, 0.5) 0 0 0 .2rem;
}

.button-20:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}